/* Yazı tipi ve genel arka plan */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fdfdfd;
  color: #2c3e50;
}

/* Navigasyon Çubuğu (Navbar) */
.navbar {
  background-color: #2c3e50 !important; /* Profesyonel Koyu Mavi */
  border-bottom: 2px solid #18bc9c; /* Enerjik Yeşil Detay */
}

.navbar-title, .nav-link {
  color: white !important;
}

/* Başlıklar */
h1, h2, h3 {
  color: #2c3e50;
  font-weight: 700;
  border-bottom: none;
}

/* Linklerin görünümü */
a {
  color: #18bc9c;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #128f76;
  text-decoration: underline;
}
